body{
	background-color: lightgray;
}
h1{
	color:  teal;
	font-size: 50px;
	text-decoration: underline;
}

h2{
	font-size: 40px;
	color: red;
}
.big{
	font-size: 30px;
}


.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: navy;
}

h1 span{
	color: violet;
}